*{
    box-sizing: border-box;
}
body{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

h2{
    margin: 0;
    font-weight: 900;
    font-size: 56px;
    line-height: 74px;
    letter-spacing: -0.5px;
}

h3{
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: -0.5px;
}

p{
    margin: 0;
    color: #7D7191;
}

.red{
    color: #ED6165;
}
.red.upper{
    text-transform: uppercase;
}
.red.bold{
    font-weight: 700;
}

body section{
    padding: 0 360px;
    overflow-x: hidden;
}
/*HEADER*/
header{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 89.81%), linear-gradient(90.21deg, #FEDFDF 31.93%, #FFBCF0 64.32%, #FFAAD3 91.51%);
}

.header_top{
    height: 150px;
    padding: 0 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_bottom{
    padding-left: 360px;
    display: grid;
    grid-gap: 150px;
    grid-template-columns: repeat(2,1fr);
}

.header_bottom_left{
    align-self: center;
}

.header_bottom_left_desc{
    margin-top: 47px;
    margin-bottom: 32px;
}

.header_bottom_right{
    flex-grow: 1;
}

.header_bottom_right img{
    max-width: 100%;
}


.header_logo{
    height: 75px;
}

.btn_contact_us{
    text-transform: uppercase;
    color: #FFFFFF;
    background: #ED6165;
    box-shadow: 4px 4px 15px rgba(237, 97, 101, 0.45);
    border-radius: 100px;
    width: 177px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 1800px) {
    .header_top{
        padding: 0 150px;
    }
    .header_bottom{
        padding-left: 150px;
        grid-gap: 100px;
    }
}

@media (max-width: 1600px) {
    body section{
        padding: 0 150px;
    }
}

@media (max-width: 1400px) {
    .header_bottom{
        grid-gap: 0;
        grid-template-columns: 3fr 2fr;
    }
}

@media (max-width: 1200px) {
    .header_top>.btn_contact_us{
        width: 150px;
        height: 46px;
        font-weight: 700;
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .header_top{
        padding: 0 50px;
    }
    .header_bottom{
        padding-left: 50px;
    }
    body section{
        padding: 0 50px;
    }
}

@media (max-width: 768px) {
    .header_bottom{
        grid-template-columns: none;
    }
    .header_bottom_right{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .header_top{
        height: 100px;
    }
    .header_top>.header_logo{
        height: 50px;
    }
    .header_top>.btn_contact_us{
        border-radius: 100px;
        width: 150px;
        height: 45px;
        font-weight: 700;
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    h2{
        font-size: 46px;
    }

    h3{
        font-size: 24px;
    }

    p{
        font-size: 18px;
    }
    .header_top>.btn_contact_us{
        display: none;
    }
}


