body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
header{
    background: radial-gradient(37.39% 37.26% at 56.91% 62.74%, rgba(234, 122, 252, 0.69) 0%, #5D73F6 100%);
    min-height: 900px;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
    padding:40px 315px ;
}

.header_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_top_contact_btn{
    width: 190px;
    height: 79px;
    background: #ED6165;
    box-shadow: 0 100px 80px rgba(49, 49, 49, 0.1), 0 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0 20px 13px rgba(49, 49, 49, 0.05), 0 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.75px;
    font-weight: 800;
    font-size: 18px;
    line-height: 16px;
}

.header_center{
    padding-bottom: 40px;
}

.header_center .header_center_title{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 98px;
    line-height: 104px;
    position: relative;
    z-index: 5;
}

.header_center .header_center_desc{
    width: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    z-index: 5;
}

.header_center .header_center_contact_btn{
    margin-top: 53px;
    border: 2px solid #FFFFFF;
    border-radius: 39px;
    width: 190px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    position: relative;
    z-index: 5;
}



.header_waves{
    position: absolute;
    bottom:0;
    left:0;
}

.header_poster{
    position: absolute;
    bottom: 20%;
    right: 6%;
}

.header_poster_background{
    position: absolute;
    bottom:5%;
    right: -10%;
}

section{
    padding:40px 315px;
}


.solid_slider {
    width: 100%;
    margin-top: 62px;
}

.swiper-wrapper{
    display: flex;
}

.swiper-pagination{
    margin-top: 40px;
    margin-right: 30px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-progressbar{
    box-sizing: border-box;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    margin-top:0;
    height: 60px;
    width: 60px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    border: 1px solid #ED6165;
    border-radius: 50%;
}

.swiper-button-disabled{
    border: none;
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
    height: 2px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #05023E;
}

.solid_pagination{
    display: flex;
    align-items: center;
    height: 70px;
    margin-top: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
    background-image: url('../img/arrowRight.svg');
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: contain;*/
    width: 60px;
    height: 60px;
}

.swiper-button-prev::after {
    transform: rotate(180deg);
}

.section_title{
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.solutions{
    margin-top: 20px;
}

.solution_list{
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}

.solutions_card{
    border: 1px dashed #5D73F6;
    border-radius: 40px;
    padding: 20px 60px 60px 60px;
}

.solutions_card>.solutions_card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    min-height: 150px;
}

.solutions_card>.solutions_card_header>.solutions_logo{
    width: 110px;
    height: 110px;
}

.solutions_card>.solutions_card_header>.solutions_title{
    font-weight: 700;
    font-size: 34px;
    line-height: 146%;
    text-transform: uppercase;
    color: #05023E;
}

.solutions_card:hover{
    box-shadow: 0 93px 74px rgba(5, 2, 62, 0.1);
    border: 1px solid transparent;
}

.btn_see_more{
    cursor: pointer;
    width: 190px;
    height: 79px;
    background: #ED6165;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.75px;
    color: white;
    filter: drop-shadow(0px 100px 80px rgba(49, 49, 49, 0.1)) drop-shadow(0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259)) drop-shadow(0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407)) drop-shadow(0px 20px 13px rgba(49, 49, 49, 0.05)) drop-shadow(0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593)) drop-shadow(0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741));
}

.btn_see_more:hover{
    transform: translateY(-1px);
}

.solutions_footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 88px;
    margin-bottom: 130px;
}

.cases_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-top: 120px;
}

.cases_card{
    width: 100%;
    max-width: 615px;
}

.cases_card:nth-child(even){
    padding-top: 50px;
}

.cases_card_body{
    border-radius: 40px;
    position: relative;
    height: 462px;
    max-width: 615px;
}

.cases_phone_top{
    position: absolute;
    top: -45px;
    left: 80px;
    width: 235px;
    height: 420px;
}

.cases_phone_bottom{
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 235px;
    height: 350px;
}

.cases_card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
}

.cases_title{
    font-weight: 700;
    font-size: 34px;
    line-height: 146%;
    text-transform: uppercase;
    color: #05023E;
}

.cases_arrow_container{
    width: 60px;
    height: 60px;
    border: 1px solid #ED6165;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cases_card_body.black{
    background: linear-gradient(233.67deg, #232325 12.64%, #264253 87.65%);
}

.cases_card_body.red {
    background: linear-gradient(340.67deg, #1E1F21 -6.44%, #C04139 77.34%);
}

.cases_card_body.grey {
    background: linear-gradient(226.48deg, #ECE7EA -3.18%, #B5CAD5 60.37%);
}

.cases_card_body.blue {
    background: linear-gradient(197.96deg, #62A3E2 -4.93%, #1B557B 110.08%);}

@media (max-width: 1600px) {
    section {
        padding:40px 150px ;
    }
}

@media (max-width: 1400px) {
    .solution_list{
        grid-template-columns: 1fr;
    }
    .solutions_card{
        max-width: 50%;
        justify-self: center;
    }
    .cases_list{
        grid-template-columns: 1fr;
    }
    .cases_card:nth-child(even){
        justify-self: end;
    }
}

@media (max-width: 1200px) {
    .solution_list{
        grid-template-columns: 1fr;
    }
    .solutions_card{
        max-width: 80%;
        justify-self: center;
    }
}



