.technologies{
    padding: 48px 0 142px 0;
}

.technologies .technologies_row{
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 80px;
}

.technologies_logos{
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technologies_logos .technologies_logo_1{
    align-self: flex-end;
}

.technologies_logos .technologies_logo_2{
    align-self: flex-start;
}

.technologies_logos .technologies_logo_3{
    align-self: flex-end;
    margin-bottom: 45px;
}

.technologies_logos .technologies_logo_4{
    align-self: flex-start;
    margin-top: -45px;
}

@media (max-width: 1400px) {
    .technologies .technologies_row{
        margin-top: 25px;
        grid-template-columns: 1fr;
    }
    .technologies_logos{
        height: 250px;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .technologies_logos{
        gap: 20px;
        flex-wrap: wrap;
    }
    .technologies_logos .technologies_logo_1{
        align-self: normal;
    }
    .technologies_logos .technologies_logo_1 img{
        margin-top: 10px;
    }

    .technologies_logos .technologies_logo_2{
        align-self: normal;
    }

    .technologies_logos .technologies_logo_3{
        align-self: normal;
        margin-bottom: 0;
    }

    .technologies_logos .technologies_logo_4{
        align-self: normal;
        margin-top: 0;
    }
}

@media (max-width: 576px) {}
